<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dinguyenfunctionappdev-bbapd4e0fscrd2g5.westus3-01.azurewebsites.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/470d4b55-1610-4c0a-9f53-e3b1c1670f94/resourcegroups/dinguyen-rg/providers/Microsoft.Web/sites/dinguyenfunctionappdev</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://dinguyenfunctionappdev-bbapd4e0fscrd2g5.westus3-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>